@charset "UTF-8";

.dropzone {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
}
.dropzone.in {
    font-size: larger;
}
.dropzone.hover { }
.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.fileupload .attTable p{ margin-bottom: 5px; }
.fileupload .attTable .form-control{ margin-bottom: 10px; }
.fileupload .attTable .att-replace-file{ margin-bottom: 5px; }
.fileupload-progress{ margin: 10px 10px 0 10px; }
.dropzone .progress{ margin-bottom: 10px; }

#task-processing{
    position: absolute;
    left: 50%;
    top: 0;
    width: 128px;
    height: 128px;
    background: url(../lib/upload/img/loading.gif) center no-repeat;
}