/**
 @todo проверить и перенести в modules/files/assets/source/src/scss/files.scss
 */
@media (max-width: 767px) {
    .files .name, .att-edit-title {
        width: 100%;
    }
    .files .name {
        overflow-x: hidden;
    }
    .files .preview {
        display: inline-block;
        width: 100px;
    }
}
